/* Fontes importadas */
@font-face {
    font-family: 'fontTextoEspecial';
    src: url('../fontes/kaleagnetta/Kaleagnetta.ttf') format("truetype");
}

@font-face {
    font-family: 'fontContador';
    src: url('../fontes/hillside/Hillside\ Sans.otf');
}

@font-face {
    font-family: 'fontDataLocal';
    src: url('../fontes/times_sans_serif/TIMESS__.ttf');
}

@font-face {
    font-family: 'fontChocolate';
    src: url('../fontes/chocolate_5/Chocolate.ttf');
}


body {
    padding: 0;
    margin: 0;
}

/* Menu topo */
.fundoMenu {
    background-color: #86895d;
    padding: 20px;
}

.menuTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.menuTop li {
    list-style-type: none;
    color: #fff;
    font-family: "Bodoni Moda", serif;
    transition: transform 0.3s ease-in-out;
}

.menuTop li a {
    text-decoration: none;
    color: #fff;
}

.menuTop li:hover {
    transform: scale(1.2);
}

/* Banner Sid e Bia */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.banner h1 {
    text-align: center;
    margin-top: 30px;
    font-family: "Bodoni Moda", serif;
}

.banner h1 span {
    font-family: "Sacramento", cursive;
    font-weight: normal;
}


.textoEspecial {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textoEspecial p {
    text-align: center;
    line-height: 1.5;
    font-family: 'fontChocolate';
    font-size: 24px;
    color: #3b3d14;
    margin: 0;

}

/* Contador  dias */
.contadorDias {
    background-color: #eff0f0;
    height: 300px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px
}

.contadorDias h2 {
    font-family: 'fontContador', Arial, sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: #272b00;
}

.containerContadorDias {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador-container h1 {
    font-size: 2.5rem;
    color: #c0392b;
    margin-bottom: 40px;
}

.timers-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/*Item dos circulo (circulo - num-txto)*/
.timer-item {
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-item .number {
    font-size: 2.5rem;
    font-weight: 700;
    color: #555;
    line-height: 1;
}

.timer-item .label {
    font-size: 0.8rem;
    color: #777;
    margin-top: 5px;
}

/*Etilos dos circulos*/
.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.5s;
    transform-origin: 50% 50%;
}

.progress-ring__background {
    stroke: #e6e6e6;
}

.dias .progress-ring__foreground {
    stroke: #272b00;
}

.horas .progress-ring__foreground {
    stroke: #54582f;
}

.minutos .progress-ring__foreground {
    stroke: #86895d;
}

.segundos .progress-ring__foreground {
    stroke: #bec092;
}


/* Local e Data */
.localData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.localData img {
    width: 200px;
    height: 200px;

}

.fundoTxtData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.containerLocalData {
    font-family: 'fontDataLocal', Arial, sans-serif;
    font-weight: normal;
}

.containerLocalData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.fundoTxtEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
}

.btnLocalizacao {
    background-color: #86895d;
    width: 300px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #86895d;
    box-shadow: 4px 4px 4px #272b00;
    font-family: 'fontTextoEspecial';
    font-size: 50px;
}

.btnLocalizacao a {
    text-decoration: none;
    color: #272b00;
}

.btnLocalizacao:hover {
    background-color: #54582f;
    color: #fff;
    border: 1px solid #54582f;
}

.btnLocalizacao a:hover {
    color: #fff;
}

/* Codigo vestimenta */
.dressCode {
    background-color: #eff0f0;
    height: 400px;
}

.dress-code-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.title {
    font-family: 'Parisienne', cursive;
    font-size: 4rem;
    color: #3b3d14;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 25px;

}

.color-palette {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.color-circle:not(:first-child) {
    margin-left: -80px;
}

/* Presentes */
.presentes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.txtPresenca {
    text-align: center;
    font-family: 'fontDataLocal';
    color: #54582f;
    font-size: 28px;
}

.txtViverMomento {
    font-family: 'fontChocolate';
    font-size: 20px;
    text-align: center;
    border-left: 4px solid #54582f;
    padding-left: 10px;
    margin-left: 20px;
    color: #3b3d14;
}

.containerPresentes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
}

.listaPresentes,
.containerPix {
    text-align: center;
    font-family: 'fontDataLocal';
    color: #54582f;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.listas,
.pix {
    background-color: #eff0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    gap: 15px;
}

.titleLista,
.titlePix{
    font-family: 'Parisienne' !important;
    font-size: 30px;
}

button {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #bec092;
    border: solid 2px #86895d;
    font-family: inherit;
    box-shadow: 2px 2px 2px #000;
}

.default-btn,
.hover-btn {
    background-color: #bec092;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease;
}

.hover-btn {
    position: absolute;
    inset: 0;
    background-color: #86895d;
    transform: translate(0%, 100%);
}

.default-btn span {
    color: #272b00;
}

.hover-btn span {
    color: #fff;
}

button:hover .default-btn {
    transform: translate(0%, -100%);
}

button:hover .hover-btn {
    transform: translate(0%, 0%);
}

.imgPix {
    width: 120px;
    height: 120px;
    box-shadow: 4px 4px 4px #272b00;
    margin-bottom: 8px;
    cursor: pointer;
    display: block;
}

.numPix {
    font-size: 16px !important;
    cursor: pointer;
    display: block;
    color: #272b00;
    font-weight: bold;
}

.outer {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 1px;
    background: radial-gradient(circle 230px at 0% 0%, #ffffff, #bec092);
    position: relative;
}

.dot {
    width: 5px;
    aspect-ratio: 1;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 100px;
    z-index: 2;
    right: 10%;
    top: 10%;
    animation: moveDot 6s linear infinite;
}

@keyframes moveDot {

    0%,
    100% {
        top: 10%;
        right: 10%;
    }

    25% {
        top: 10%;
        right: calc(100% - 35px);
    }

    50% {
        top: calc(100% - 30px);
        right: calc(100% - 35px);
    }

    75% {
        top: calc(100% - 30px);
        right: 10%;
    }
}

.card {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: solid 1px #bec092;
    background-size: 20px 20px;
    background: radial-gradient(circle 280px at 0% 0%, #bec092, #bec092);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #fff;
}

.card .text {
    font-weight: bolder;
    font-size: 4rem;
    background: linear-gradient(45deg, #000000 4%, #fff, #000);
    background-clip: text;
    color: transparent;
}

.line {
    width: 100%;
    height: 0.5px;
    position: absolute;
    background-color: #eff0f0;
}

.topl {
    top: 10%;
    background-color: #eff0f0;
}

.bottoml {
    bottom: 10%;
}

.leftl {
    left: 10%;
    width: 0.5px;
    height: 100%;
    background-color: #eff0f0;
}

.rightl {
    right: 10%;
    width: 1px;
    height: 100%;
}

.tooltip {
    visibility: hidden;
    width: 180px;
    background-color: #54582f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
}

.rodape {
    background-color: #272b00;
    text-align: center;
    color: #fff;
    padding: 20px;
}